@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Bold", sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #5c5c5e;
}

.header {
  padding: 19px 0px;
  border-bottom: 1px solid #cacad6;
}
.header__bag {
  justify-self: end;
  position: relative;
}
.header__bag-on span {
  position: absolute;
  right: 0px;
  bottom: -2px;
  width: 15px;
  height: 15px;
  z-index: 2;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 50%;
  font-size: 11px;
  display: inline-block;
  text-align: center;
}
.header__logo {
  justify-self: center;
}
.header__nav {
  display: grid;
  grid-template: 1fr/auto auto auto;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header-menu {
  display: grid;
  grid-template: 1fr/auto auto auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
  max-width: 251px;
  width: 100%;
}
.header-menu a {
  color: #5c5c5e;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.hero {
  min-height: calc(100vh - 80px);
  background-image: url(../image/bg.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-top: 11%;
}
.hero__inner {
  display: grid;
  align-items: center;
  max-width: 50vw;
  width: 100%;
}
.hero__title {
  font-size: 96px;
  line-height: 110px;
  margin-bottom: 10px;
}
.hero__subtitle {
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 5px;
}
.hero__text {
  font-size: 13px;
  line-height: 15px;
}

.buy-btn {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  justify-items: center;
  width: 100%;
  border: 1px solid rgb(238, 42, 205);
  margin: 50px 0 10px;
  cursor: pointer;
}
.buy-btn__text {
  text-align: center;
  width: 100%;
  padding: 21px 10px;
  color: #fff;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
}
.buy-btn__price {
  padding: 21px 10px;
}